html {
    scroll-behavior: smooth;
}

.custom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    font-size: 13px;
    line-height: 20px;
    border-bottom: 1px solid black;
    width: 100%;
    box-sizing: border-box;
}

.text-section {
    text-align: left;
    flex-grow: 1;
    margin-left: 20px;
}

.form-container {
    width: 100%;
    max-width: 400px; /* Adjust the width as necessary */
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.form-field {
    margin-bottom: 10px;
}

.form-field label {
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.form-field input {
    width: 100%;
    padding: 10px;
    border-radius: 0;
    outline: none;
    border: 1px solid black;
    height: 45px;
    font-size: 15px;
}

.form-field input:focus {
    border: 3px solid black;
}

.custom-submit-button, .custom-generic-button {
    width: 100%;
    padding: 10px;
    color: black;
    cursor: pointer;
    border: 1px solid black;
    background-color: white;
    margin-top: 15px;
    height: 45px;
    font-size: 13px;
}

.custom-submit-button:hover {
    color: white;
    background-color: black;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}

.form-footer {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

a {
    text-transform: uppercase;
    text-decoration: underline;
    color: black;
}

a:hover{
    text-decoration: none;
}

.error-msg {
    color: #dc2a2a;
    font-size: 12.5px;
}

.success-msg {
    color: #3da20d;
    font-size: 12.5px;
}

.form-field select {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 0;
    outline: none;
    height: 45px;
    font-size: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: white;
    cursor: pointer;
}

.form-field select:focus {
    border: 3px solid black;
}
