/* Profile Page Styles */
.container {
    max-width: 800px;
}

.card {
    margin-top: 20px;
}

.card-header {
    background-color: #4c0bce;
    color: white;
    text-align: center;
}

.card-body {
    padding: 20px;
}
