/* ------ NAVBAR ------ */
.whiteboard-nav {
    display: flex;
    background-color: var(--base-color);
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#left-container {
    margin-left: 15px;
}

#right-container {
    margin-right: 15px;
}

/* ------ CANVAS + SIDEBAR ------ */
.whiteboard-container {
    display: flex;
    justify-content: space-around;
    height: 89%;
}

.whiteboard-sidebar {
    display: flex;
    flex-direction: column;
    width: 10%;
    align-items: flex-start;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.custom-generic-button-with-icon {
    width: 100%;
    padding: 10px;
    color: black;
    cursor: pointer;
    border: 1px solid black;
    background-color: white;
    margin-top: 15px;
    height: 45px;
    font-size: 13px;
    align-items: center;
    vertical-align: center;
}

.custom-generic-button-with-icon > img {
    height: 30px;
    width: 30px;
}

.custom-generic-button-with-icon:hover {
    color: white;
    background-color: black;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}

.custom-generic-button-with-icon > img:hover {
    filter: invert(100%);
}

.button-selected {
    color: white;
    background-color: black;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}

.button-selected > img {
    filter: invert(100%);
}

#tools-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    border: 2px solid black;
}

#sidebar-tools {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 10px;
}

#tools-name {
    text-align: center;
    font-weight: bold;
    margin: 10px;
}

#share-button {
    margin-top: 10px;
}

#pen-button {
    margin-top: 0;
}

#canvas-container {
    width: 90%;
    margin: 10px;
    overflow: hidden;
}

#whiteboard {
    border: 2px solid black;
    background: white;
}

/* ------ PARTICIPANTS BUTTON MODAL ------ */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.participants-list {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 10px;
}

.whiteboard-participant {
    margin: 5px;
    font-size: 18px;
}
