{erl_opts, [debug_info]}.

{deps, [
    cowboy,
    jwt
]}.

{relx, [
    {release,
        {shared_white_board, "0.1.0"},
        [kernel,
         stdlib,
         cowboy,
         jwt,
         shared_white_board, 
        crypto
        ]
    },
    {dev_mode, true},
    {include_erts, false},
    {sys_config, "./config/sys.config"}
]}.