{erl_opts, [debug_info]}.

{deps, [
    {cowboy, "2.9.2"},
    {jwt, "1.0.3"}
]}.

{relx, [
    {release,
        {shared_white_board, "0.1.0"},
        [kernel,
         stdlib,
         cowboy,
         jwt,
         shared_white_board
        ]
    },
    {dev_mode, true},
    {include_erts, false},
    {sys_config, "./config/sys.config"}
]}.